
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400&family=Noto+Sans:wght@100;400&display=swap');

/* App styling */
body {
  margin:0;
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}
a:link {
  color:white;
  text-decoration: none;
  font-weight:bold;
}
a:visited {
  color:white;
  text-decoration: none;
}

.App {
  height:100%;
  color:white;
  background-color: rgba(85, 85, 85, 0.25);
  ul>li {
    list-style: none;
  }
  .heading {
    color: #fff;
    font-size: 3rem;
    font-family: 'Chivo Mono', monospace;
    letter-spacing: 2px;
  }
  .heading-2 {
    color: #fff;
    font-size: 2.6rem;
    font-family: 'Chivo Mono', monospace;
  }
  .heading-3 {
    margin-bottom: .2rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Chivo Mono', monospace;
  }
}

.Nav {
  height:15vh;
  display:flex;
  align-items: center;
  .nav-container {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-container a {
    padding:1.2rem;
    border-radius: .4rem;
  }
  .nav-container a:hover {
    background-color: #dbdbdb;
    color:#BB2649;
    transition: ease-in-out .2s;
  }
  .links-box {
    display:flex;
    justify-content: flex-end;
    padding:5px;
    margin-right:1.2rem;
  }
  .initials {
    font-size:1.4rem;
    padding:0.4rem;
    margin-left:1.2rem;
    border:2px solid white;
  }
}

.Projects {
  width:100%;
  h3 {
    margin-left:1rem;
  }
  .all-projects-box {
    display:flex;
    justify-content: space-evenly;
    margin-left:.2rem;
    margin-right:.2rem;
  }
  .project-card{
    background-color: #197e83;
    border-radius: .4rem;
    margin:.2rem;
    padding-bottom:.2rem;
    padding-right:.2rem;
    p{
      margin:1rem;
      background-color: transparent;
    }
  }
  .project-desc{
    margin:1rem;
  }
}

.About {
  width:100%;
  h3{
    margin-left:1rem;
  }
  .about-container{
    display:flex;
    justify-content: space-evenly;
  }
  .color-box {
    background-color: gray;
    border-radius: .4rem;
    padding:.2rem;
    margin:.8rem;
  }
}
.Contact {
  width:100%;
  display:flex;
  justify-content: center;
  .social-link {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
  }
}
.ContactForm{
  margin-top:2rem;
  text-align: center;
  width:100%;
  form{
    display:flex;
    justify-content: center;
  }
  li{
    margin-bottom:1rem;

  }
  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: white;
    height: 3rem;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: white;
    height: 1.4rem;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    min-height: 150px;
  }
  li.half {
    width:49%;
    margin-left:2%;
    float:left;
    clear:none;
    &:first-child{
      margin-left:0;
    }
  } 
  .flat-button {
    width:100%;
    border: 1px solid #197e83;
    color: #197e83;
    font-size: 1rem;
    letter-spacing: .4rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: .4rem;
    background: 0 0;
    text-transform: uppercase;
  }
}
.Hero {
  display:flex;
  justify-content: center;
  width:99%;
  background-image: linear-gradient(to top right,#7b8586, #585b5b);
  .headshot-container{
    display:flex;
    justify-content: center;
    align-items: center;
      img {
      width:75%;
      height:auto;
      border-radius: .4rem;
      }
  }
  .name-container{
    margin:1rem;
    display:flex;
    flex-direction:column;
  }
  div.half {
    width:49%;
    float:left;
    &:first-child{
      margin-left:0;
    }
  } 
}
.Footer {
  width:100%;
  text-align: center;
  margin-left:1rem;
  margin-bottom:1.2rem;
}

@media only screen and (max-width: 840px){
  .Hero {
      width:100vw;
  }
  // .project-box {
  //   display:block;
  // }
  // .project-card{
  //   padding-top:.1rem;
  //   padding-bottom:.2rem;
  // }
}
/* @media only screen and (max-width: 414px){
  .Hero {
    width:100vw;
  }
  .nav-container a {
    padding:0.7rem;
  }
  .project-box {
    display:block;
  }
} */