
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400&family=Noto+Sans:wght@100;400&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: rgba(0,0,0, .85);
  --color-bg-variant:#2c2c6c;
  --color-primary:rgb(3, 189, 189);
  --color-primary-variant:rgb(214, 105, 245);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.6);

  --transition:all 400ms ease;

  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
}
::-webkit-scrollbar{
  display:none;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
}
/* --------Average Screens--------------- */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2, 
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2, 
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);

}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}
a:visited {
  color:var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition); 
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.App {
  height:100%;

  ul>li {
    list-style: none;
  }
  .heading {
    color: #fff;
    font-size: 3rem;
    font-family: 'Chivo Mono', monospace;
    letter-spacing: 2px;
  }
  .heading-2 {
    color: #fff;
    font-size: 2.6rem;
    font-family: 'Chivo Mono', monospace;
  }
  .heading-3 {
    margin-bottom: .2rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Chivo Mono', monospace;
  }
}

.Nav {
  height:15vh;
  display:flex;
  align-items: center;
  .nav-container {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-container a {
    padding:1.2rem;
    border-radius: .4rem;
  }
  .nav-container a:hover {
    background-color: #dbdbdb;
    color:var(--color-primary-variant);
    transition: var(--transition);
  }
  .links-box {
    display:flex;
    justify-content: flex-end;
    padding:5px;
    margin-right:1.2rem;
  }
  .initials {
    font-size:1.4rem;
    padding:0.4rem;
    margin-left:1.2rem;
    border:2px solid white;
  }
}

.Projects {
  width:100%;
  h3 {
    margin-left:1rem;
  }
  .all-projects-box {
    display:flex;
    justify-content: space-evenly;
    margin-left:.2rem;
    margin-right:.2rem;
  }
  .project-card{
    background-color: #197e83;
    border-radius: .4rem;
    margin:.2rem;
    padding-bottom:.2rem;
    padding-right:.2rem;
    p{
      margin:1rem;
      background-color: transparent;
    }
  }
  .project-desc{
    margin:1rem;
  }
  .portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* -----medium screen----- */

@media screen and (max-width: 1024px){
    .portfolio__container{
    gap: 1.2rem;
    }

}

/* -----small screen----- */

@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}
}

.About {
  width:100%;
  h3{
    margin-left:1rem;
  }
  .about-container{
    display:flex;
    justify-content: space-evenly;
  }
  .color-box {
    background-color: var(--color-light);
    border-radius: .4rem;
    padding:.2rem;
    margin:.8rem;
    width:60%;
  }
  .work-box {
    width:50%;
  }
  .education-box{
    width:50%;
  }
}
.Contact {
  width:100%;
  display:flex;
  justify-content: center;
  .social-link {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
  }
}
.ContactForm{
  margin-top:2rem;
  text-align: center;
  width:100%;
  form{
    display:flex;
    justify-content: center;
  }
  li{
    margin-bottom:1rem;

  }
  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: white;
    height: 3rem;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: white;
    height: 1.4rem;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    min-height: 150px;
  }
  li.half {
    width:49%;
    margin-left:2%;
    float:left;
    clear:none;
    &:first-child{
      margin-left:0;
    }
  } 
  .flat-button {
    width:100%;
    border: 1px solid #197e83;
    color: #197e83;
    font-size: 1rem;
    letter-spacing: .4rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: .4rem;
    background: 0 0;
    text-transform: uppercase;
  }
}
.Hero {
  display:flex;
  justify-content: center;
  width:99%;
  background-image: linear-gradient(to top right,#7b8586, #585b5b);
  .headshot-container{
    display:flex;
    justify-content: center;
    align-items: center;
      img {
      width:75%;
      height:auto;
      border-radius: .4rem;
      }
  }
  .name-container{
    margin:1rem;
    display:flex;
    flex-direction:column;
  }
  div.half {
    width:49%;
    float:left;
    &:first-child{
      margin-left:0;
    }
  } 
}
.Footer {
  width:100%;
  text-align: center;
  margin-left:1rem;
  margin-bottom:1.2rem;
}

@media only screen and (max-width: 840px){
  .Hero {
      width:100vw;
  }
  // .project-box {
  //   display:block;
  // }
  // .project-card{
  //   padding-top:.1rem;
  //   padding-bottom:.2rem;
  // }
}
/* @media only screen and (max-width: 414px){
  .Hero {
    width:100vw;
  }
  .nav-container a {
    padding:0.7rem;
  }
  .project-box {
    display:block;
  }
} */