@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
}
.duration-1000 {
  animation-duration: 1s;
}
.duration-2000 {
  animation-duration: 2s;
}
.duration-3000 {
  animation-duration: 3s;
}
.slide-in-from-left {
  animation: slide-in-from-left ease-in-out 1.5s;
}
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-out-to-left {
  animation: slide-out-to-left ease-in-out 1;
}
@keyframes slide-out-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slide-in-from-right {
  animation: slide-in-from-right ease-in-out 1s 1;
}
@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.fade-up {
  animation: fade-up ease-in-out 1s 1;
}

@keyframes fade-up {
  0% {
    transform: translateY(50%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
